{% load drealtimetags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block extrahead %}

    {% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:5500/socket.io/socket.io.js"></script> 
<script type="text/javascript" src="http://localhost:5500/client/ishout.client.js"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
<script>
    ishout.on('notifications', function(data){
        alert(data.msg);
    });

    // .init() will authenticate against the ishout.js server, and open the WebSocket connection.
    ishout.init();
</script>
{% block extrascripts %}{% endblock %}
</html>